<%- include('common/header') %>

<% if(!isLogin){ %>
	<a href="/signup">注册</a>
	<a href="/signin">登录</a>
<% }else{ %>
	<a href="/signout">退出</a>
<% } %>

<h1><%= blog.title %></h1>
<p>Welcome to <%= blog.title %></p>
<div><%= blog.description %></div>

<%- include('common/footer') %>
